# Example usage of the duo class

## Basic operations

In [1]:
from duodecimal import BaseConverter, duo, binary

In [2]:
duo(42)

36(base12)

In [3]:
duo('24')

24(base12)

In [4]:
a = duo(42)
b = duo(28)

a + b

5X(base12)

In [5]:
a - b

12(base12)

In [6]:
duo(3) * 4

10(base12)

In [7]:
duo(10) / '3'

3.4(base12)

## Create a multiplication table

In [8]:
multiplication_table = []
for i in range(1,duo('10').decimal()+1):
    row = ['{:>2}|'.format(duo(i))]
    for j in range(1,duo('10').decimal()+1):
        row.append(duo(i*j).__str__())
    multiplication_table.append(row)
print('\t'+' \t'.join([str(duo(i)) for i in range(1,duo('10').decimal()+1)]) + '\n'+99*'-')
for row in multiplication_table:
    print(' \t'.join(row))

	1 	2 	3 	4 	5 	6 	7 	8 	9 	X 	E 	10
---------------------------------------------------------------------------------------------------
1| 	1 	2 	3 	4 	5 	6 	7 	8 	9 	X 	E 	10
2| 	2 	4 	6 	8 	X 	10 	12 	14 	16 	18 	1X 	20
3| 	3 	6 	9 	10 	13 	16 	19 	20 	23 	26 	29 	30
4| 	4 	8 	10 	14 	18 	20 	24 	28 	30 	34 	38 	40
5| 	5 	X 	13 	18 	21 	26 	2E 	34 	39 	42 	47 	50
6| 	6 	10 	16 	20 	26 	30 	36 	40 	46 	50 	56 	60
7| 	7 	12 	19 	24 	2E 	36 	41 	48 	53 	5X 	65 	70
8| 	8 	14 	20 	28 	34 	40 	48 	54 	60 	68 	74 	80
9| 	9 	16 	23 	30 	39 	46 	53 	60 	69 	76 	83 	90
X| 	X 	18 	26 	34 	42 	50 	5X 	68 	76 	84 	92 	X0
E| 	E 	1X 	29 	38 	47 	56 	65 	74 	83 	92 	X1 	E0
10| 	10 	20 	30 	40 	50 	60 	70 	80 	90 	X0 	E0 	100

In [8]:
binary(8)

1000(base2)

In [9]:
binary(8) + duo(2)

1010(base2)

In [26]:
binary('10000') < duo('X')

False

In [31]:
x = duo('2X')
x.to_base(8)

'42'